<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="login.css">
</head>
<body>
    <h1>612110172 System</h1>
    <form>
        <div>
            <b>Username:</b><br>
            <input type="text" name="username"><br>
        </div>
        <div>
            <b>Password:</b><br>
            <input type="text" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
</body>
</html>