<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{base_path()}}\css\allcountry.css">
    <title>Covid-19</title>
</head>

<body>
    <h1>&times;All Country Detail&times;</h1>
    <div class="button">
    <button><a href="{{url_for('home')}}">Home </a></button>
	<button><a href="{{url_for('service')}}">Service </a></button>
    <button class="active"><a href="{{url_for('information')}}">Information</a></button>
    <button class="active"><a href="{{url_for('allCountryDetail')}}">All Country Detail</a></button>
    <button><a href="{{url_for('form')}}">Make Measure Form</a></button>
    <button class="active"><a href="{{url_for('login')}}">Logout</a></button>
    </div>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>Addict</th>
            <th>Wasted</th>
            <th>Recovered</th>
        </tr>
    {% for listCountry in list %}
        <tr>
            <td>{{ listCountry.id }}</td>
            <td>{{ listCountry.Country }}</td>
            <td>{{ listCountry.addict | number_format }}</td>
            <td>{{ listCountry.waste | number_format }}</td>
            <td>{{ listCountry.hill | number_format }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="update">
        <b>Input ID of Country that you want to <b class="free1">Update</b></b>
        <br>
        <form action="{{url_for('updateCountryAction')}}" method="post">
        <input type="text" name="id" placeholder="Country ID">
        <br>
        <input type="submit">
        </form>
        <br>
        <b>Input ID of Country that you want to <b class="free2">Delete</b></b>
        <br>
        <form action="{{url_for('dropCountry')}}" method="post">
        <input type="text" name="id" placeholder="Country ID">
        <br>
        <input type="submit">
        </form>
    </div>
</body>

</html>