<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{base_path()}}\css\homepage.css">
	<title>Serving ALCOHOL HAND JEL and MASK</title>
</head>
<body>
		<ul class="button">
			<button><a href="{{url_for('home')}}">Home </a></button>
			<button><a href="{{url_for('service')}}">Service </a></button>
			<button><a href="{{url_for('information')}}">Information</a></button>
            <button><a href="{{url_for('allCountryDetail')}}">All Country Detail</a></button>
            <button><a href="{{url_for('form')}}">Make Measure Form</a></button>
			<button><a href="{{url_for('login')}}">Logout</a></button>
		</ul>
		<div>
	
	    	<div class="header">
            	<h1>Service</h1>
		
			</div>
		
			<div class="main-content">
				<h2>Serving ALCOHOL HAND JEL and MASK</h2>
            </div> 
            
            <div class="Photos">
                <img src="{{base_path()}}\css\2.jpg"><br>      
            </div>
           
            <div class="h">
				<h3><p>Hand wash gel in a portable case<br>
                    Reduce 99.99% of bacteria accumulation<br>
                    Kill germs in 5 seconds<br>
                    Anti-virus "Corona" is gentle on the skin.<br>
                    Not sticky, not sticky<br>
                   
            </div>

            <div class="Photos">
                <img src="{{base_path()}}\css\6.jpg"><br>      
            </div>
            
            <div class="h">
				<h3><p> Clean, safe, meets factory standards Ministry of Public Health<br>
                    Registered number 13-1-6300003799<br>
                    Size 500 ml.<br>
                      * Urgent, products are limited *<br>
                    ----------------------------------------------<br>   
                   
            </div>


            <div class="footer">
                <p>✅ Call Us: 087-213-2489 ✅</p>
                <p>&copy;2020-COVID-19</p>
            </div>
        </div>
        
            
</body>
</html>