<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{base_path()}}\css\homepage.css">
	<title>Service</title>
</head>
<body>
		<ul class="button">
			<button><a href="{{url_for('home')}}">Home </a></button>
			<button><a href="{{url_for('service')}}">Service </a></button>
			<button><a href="{{url_for('information')}}">Information</a></button>
			<button><a href="{{url_for('allCountryDetail')}}">All Country Detail</a></button>
			<button><a href="{{url_for('form')}}">Make Measure Form</a></button>
			<button><a href="{{url_for('login')}}">Logout</a></button>
		</ul>
		<div>
	
	    	<div class="header">
            	<h1>Service</h1>
		
			</div>
		
			<div class="main-content">
				<h2>'Our service'</h2>
			</div> 
			
			<div class="d">
                    <br><img src="{{base_path()}}\css\1.jpg"> <br>
					        <h4><a href="{{url_for('kill')}}">Cleaning service to kill the virus</a></h4>
                            <p>Cleaning service to kill the virus, COVID-19 (COVID -19). <br>
                                    We use CHEMGENE HLD4H (HIGH LEVEL) disinfectant to get rid of all germs. <br>
                                    Effective 99.99% effective as approved by institutions in Europe.</p>
			</div>

			<div class="e">
				    <br><img src="{{base_path()}}\css\2.jpg"> <br>
					        <h4><a href="{{url_for('jel')}}">Serving ALCOHOL HAND JEL and MASK</a></h4>
                            <p>Buy Gel ❗️ Free Mask‼ ️✌🏻💥 Alcohol Wash Gel Size 500Ml. Sterilize up to 99.99% Alcohol Gel.</p>
			</div>	    
			
			<div class="footer">
					<p>&copy;2020-COVID-19</p>
			</div>
	</div>
</body>
</html>