@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
input {
    width: 300px;
    height: 50px;
    font-size: 40px;
    font-family: Oswald;
    font-weight: lighter;
    border-radius: 10px;
    color: black;
    text-align: right;
}

body {
    background-color: seagreen;
}

h1 {
    font-size: 70px;
    font-family: Oswald;
    text-decoration: underline;
    font-weight: lighter;
    color: white;
}

b {
    font-size: 40px;
    font-family: Oswald;
    font-weight: lighter;
}

form {
    margin-top: 100px;
    margin-left: 30px;
    padding: 50px;
}

input[type=submit] {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-right: 130px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Oswald;
}