/*product-add*/
form {
    border: black solid 1px;
    width: 405px;
    padding: 10px;
}
div {
    padding-bottom: 20px;
}

b {
    color: blue;
}

input[type="text"] {
    width: 400px;
    height: 15px;
}

select {
    width: 400px;
    height: 25px;
}

input[type="submit"] {
    margin-right: 290px;
    background-color: blue;
    color: white;
    border: none;
    padding: 7px;
    width: 50px;
    font-weight: bolder;
    border-radius: 5px;
}

input[type="reset"]{
    border: none;
    background-color: white;
    font-weight: bolder;
}