<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product add form</title>
    <link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
    <form>
        <table>
            <div>
                <tr><b>Name:</b></tr><br>
                <tr><input type="text" name="name"></tr>
            </div>
            <div>
                <tr><b>Category:</b></tr><br>
                <tr><select name="select">
                    <option value="phone">Phone</option>
                    <option value="tablet">Tablet</option>
                </select></tr>
            </div>
            <div>
                <tr><b>Price:</b></tr><br>
                <tr><input type="text" name="price"></tr>
            </div>
            <div>
                <tr><b>Quantity:</b></tr><br>
                <tr><input type="text" name="qty"></tr>
            </div>
            <div class="button">
                <td><input type="submit" value="Save"></td>
                <td><input type="reset" value="Cancel"></td>
            </div>
        </table>
    </form>
</body>
</html>