{# extend main layout #}
{% extends "layout.html" %}
{# override title block #}
{% block title %}Product List{% endblock %}
{# override header block and use contents from title block #}
{% block header %}
  <h1>{{ block('title') }}</h1>
{% endblock %}
{# override content block #}
{% block content %}
<a href="http://localhost/webpro2020/week10/612110172/slim/public/product/add">add product</a>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Categopry</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  {% for item in data %}
  <tr>
    <td><a href="{{ url_for('product-view', {id: item.id}) }}">
      {{ item.name }}
    </a></td>
    <td>{{ item.category }}</td>
    <td>{{  item.price |number_format(2)}}</td>
    <td>{{ item.qty }}</td>   
  </tr>
  {% endfor %}
</table>
{% endblock %}