<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{base_path()}}/css/header.css">
    <title>Survive Covid</title>
</head>

<body>
    <h1><img src="{{base_path()}}/css/patient.png" width="250px" height="250px">Survive-Covid</h1>
    <div class="reg">
        <a href="{{url_for('login')}}"><button style="float:right;" class="dropbtn">LOGOUT</button></a></div>
        
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">INFORMATION<div class="triangle-down"></div></button>
            <div class="dropdown-content">
                <ul>
                    <li><a href="{{url_for('information')}}">Corona Information</a></li>
                    <li><a href="{{url_for('sum')}}">Summarize Total</a></li> 
            </ul>
            </div>
    
        </div>
        
        <a href="{{url_for('news')}}"><button style="float:right;" class="dropbtn">NEWS</button></a>
        <a href="{{url_for('form')}}"><button style="float:right;" class="dropbtn">FORM</button></a>
        <a href="{{url_for('home')}}"><button style="float:right;" class="dropbtn">HOME</button></a>
        </div>
    <br>
    <div class="list">
        
        <table>
            <tr>
                <td><a href="{{url_for('add-news')}}">Add news</a></td>
            </tr>
            <tr>
                <form action="{{url_for('update-news')}}" method="GET">
                <td>Input ID to Update</td>
                <td><input type="text" name="ID" placeholder="ID"></td>
                <td><input type="submit" value="Update"></td>
                </form>
            </tr>
            <tr>
                <form action="{{url_for('delete-news')}}" method="POST">
                    <td>Input ID to Delete</td>
                    <td><input type="text" name="ID" placeholder="ID"></td>
                    <td><input type="submit" value="Delete"></td>
                </form>
            </tr>
        </table>
        <br>
        <table border="1">
            <tr>
                <th class="ID">ID</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
            {% for list in listnews %}
            <tr> 
                <td>{{ list.newsID }}</td>
                <td>{{ list.descriptions }}</td>
                <td class="link"><a href="{{ list.url }}" target="_blank">LINK</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>

</html>