<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{base_path()}}/css/header.css">
    <title>Survive Covid</title>
</head>

<body>
    <h1><img src="{{base_path()}}/css/patient.png" width="250px" height="250px">Survive-Covid</h1>
    <div class="reg">
        <a href="{{url_for('login')}}"><button style="float:right;" class="dropbtn">LOGOUT</button></a></div>
        
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">INFORMATION<div class="triangle-down"></div></button>
            <div class="dropdown-content">
                <ul>
                    <li><a href="{{url_for('information')}}">Corona Information</a></li>
                    <li><a href="{{url_for('sum')}}">Summarize Total</a></li> 
            </ul>
            </div>
    
        </div>
        <a href="{{url_for('news')}}"><button style="float:right;" class="dropbtn">NEWS</button></a>
        <a href="{{url_for('form')}}"><button style="float:right;" class="dropbtn">FORM</button></a>
        <a href="{{url_for('home')}}"><button style="float:right;" class="dropbtn">HOME</button></a>
        </div>
    <br>
    <div class="list">
    <table border="1">
        <tr>
            <th>Country</th>
            <th>Addict</th>
            <th>Waste</th>
            <th>Hill</th>
        </tr>
        
    {% for list in listinfo %}
    
        <tr>
            <td>{{ list.Country }}</td>
            <td>{{ list.addict | number_format }}</td>
            <td>{{ list.waste | number_format }}</td>
            <td>{{ list.hill | number_format }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="form">
        <b>Input ID of Country that you want to <b class="a1">Update</b></b>
        <br>
        <form action="{{url_for('updateCountryAction')}}" method="post">
        <input type="text" name="Country" placeholder="Country name">
        <br>
        <input type="submit">
        </form>
        <br>
        <b>Input ID of Country that you want to <b class="a2">Delete</b></b>
        <br>
        <form action="{{url_for('drop')}}" method="post">
        <input type="text" name="Country" placeholder="Country name">
        <br>
        <input type="submit">
        </form>
    
</body>

</html>